/autom4te.cache/
/build-aux/
/m4/

/debian/

/config.*
/configure
Makefile
Makefile.in
/aclocal.m4
/libtool

/dzip.1
/dzip.pc
/source/dzip

/dzip-2.9.tar.gz
/dzip-2.9.tar.xz

.deps
.dirstamp
.libs

.pc

*.log
*.o
*.lo
*.a
*.la
*.so
*.so.*
*.exe
*.dll
*.lib
*.app
*.dylib

*~
*.old
*.bak

