Source: dzip
Section: utils
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf
Standards-Version: 3.9.5
Homepage: http://quake.speeddemosarchive.com/dzip/

Package: dzip
Architecture: i386
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: dzip-static
Description: compression program for Quake demos
 Dzip is a compression program with the special purpose of compressing
 Quake .dem files.

Package: dzip-static
Architecture: i386
Multi-Arch: foreign
Depends: ${misc:Depends}
Provides: dzip
Conflicts: dzip
Description: compression program for Quake demos (static version)
 Dzip is a compression program with the special purpose of compressing
 Quake .dem files.
 .
 Statically linked.
